@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

.figma-button {
  min-width: 160px;
  padding: 10px;
  border-radius: 10px;
  background: #d61818;
  color: white;
  font-size: 20px;
}

.figma-button:hover {
  background-color: #f82c2c;
}

.figma-button:active {
  background-color: #9e1818;
}

.figma-button[disabled] {
  background: #a4a4a4;
}
